---
import { Image } from "astro:assets";

const props = Astro.props;

let sponsorTypeMap = {
  lunch: "Lunch Sponsor",
  venue: "Venue Sponsor",
};
---

<div class="">
  {
    props.sponsors && props.sponsors.length > 0 && (
      <>
        <div class="text-base uppercase text-verse-900 dark:text-verse-200 font-semibold mb-4">
          Sponsor(s)
        </div>
        <div class="flex flex-col md:flex-row justify-start items-start gap-2 md:gap-4">
          {props.sponsors.map((sponsor) => (
            <div
              class:list={[
                sponsor.Sponsor_id.darkbg
                  ? "bg-verse-900/90 text-verse-100"
                  : "bg-white text-verse-800",
                "p-4 items-center shadow-md rounded-lg flex flex-wrap justify-center gap-4 text-xs",
              ]}
            >
              <Image
                class="h-16 w-20 md:w-auto object-contain md:object-cover"
                src={
                  `https://directus.frontend.mu/assets/` +
                  sponsor.Sponsor_id.Logo.filename_disk
                }
                alt={sponsor.Sponsor_id.Name}
                title={sponsor.Sponsor_id.Name}
                width={sponsor.Sponsor_id.Logo.width}
                height={sponsor.Sponsor_id.Logo.height}
              />

              <div class="flex flex-col md:flex-row text-md font-bold gap-1 md:gap-4">
                {sponsor.Sponsor_id?.Sponsor_type.map((sponsorType) => (
                  <div class="flex flex-col items-center bg-gray-200/10 border-gray-500/10 border-2 p-2 rounded-md">
                    <p
                      class="text-left md:uppercase font-semibold md:font-black opacity-70 cursor-help text-xs md:text-md"
                      title={`${sponsor.Sponsor_id.Name} sponsored the ${sponsorType} for this meetup`}
                    >
                      {sponsorTypeMap[sponsorType]}
                    </p>
                  </div>
                ))}
              </div>
            </div>
          ))}
        </div>
      </>
    )
  }
</div>
