---
import { Image } from "@astrojs/image/components";

const props = Astro.props;

let sponsorTypeMap = {
    lunch: "Lunch Sponsor",
    venue: "Venue Sponsor",
};
---

<div class="">
    {
        props.sponsors && props.sponsors.length > 0 && (
            <>
                <div class="text-base uppercase text-verse-900 dark:text-slate-200 font-semibold mb-4">
                    Sponsor(s)
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    {props.sponsors.map((sponsor) => (
                        <div
                            class:list={[
                                sponsor.Sponsor_id.darkbg
                                    ? "bg-slate-900/90"
                                    : "bg-white",
                                "p-4 items-center shadow-md rounded-lg flex gap-4",
                            ]}
                        >
                            <Image
                                class="h-10 w-auto object-cover"
                                src={
                                    `https://directus.frontend.mu/assets/` +
                                    sponsor.Sponsor_id.Logo.filename_disk
                                }
                                alt={sponsor.Sponsor_id.Name}
                                title={sponsor.Sponsor_id.Name}
                                width={sponsor.Sponsor_id.Logo.width}
                                height={sponsor.Sponsor_id.Logo.height}
                            />

                            <div class="flex text-md font-bold gap-4">
                                {sponsor.Sponsor_id?.Sponsor_type.map(
                                    (sponsorType) => (
                                        <div class="flex flex-col items-center bg-yellow-200 border-yellow-500 border-2 p-2 rounded-md text-yellow-800">
                                            <p class="text-center">
                                                {sponsorTypeMap[sponsorType]}
                                            </p>
                                        </div>
                                    )
                                )}
                            </div>
                        </div>
                    ))}
                </div>
            </>
        )
    }
</div>
