---
import { Image } from "@astrojs/image/components";
import { getGithubUrl } from "../utils/fns";
import { vTransitionName } from "../utils/helpers";

const props = Astro.props;
---

<div class="py-8 flex flex-col gap-3">
  <div class="text-base uppercase text-verse-900 font-semibold">Agenda</div>
  <ul role="list" class="flex flex-col gap-6">
    {
      props.sessions.map((session, index) => {
        const speaker_photo = getGithubUrl(
          session.Session_id.speakers.github_account
        );

        return (
          <li>
            <a
              href={`/speaker/${session.Session_id.speakers.id}`}
              class="space-y-4 flex gap-10"
            >
              <Image
                class="h-20 w-20 rounded-full lg:h-24 lg:w-24"
                style={vTransitionName("speaker-avatar", session.Session_id.speakers.name)}
                src={speaker_photo}
                alt={session.Session_id.speakers.name}
                title={session.Session_id.speakers.name}
                width={300}
                height={300}
              />

              <div class="space-y-2">
                <div>
                  <h3
                    class="text-xs font-medium lg:text-xl text-verse-500"
                    style={vTransitionName("speaker-name",session.Session_id.speakers.name)}                    
                  >
                    {session.Session_id.speakers.name}
                  </h3>
                  <p class="text-xs font-medium lg:text-2xl text-verse-0">
                    {session.Session_id.title}
                  </p>
                </div>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
