---
import { SITE_URL } from "../config";
import BaseHeading from "./base/BaseHeading.astro";

const [ teamResponse, meetupsResponse ] = await Promise.all([
  "/api/team.json",
  "/api/meetups.json"
].map(slug => fetch(`${SITE_URL}${slug}`)));

const { speakers, contributors } = await teamResponse.json();
const meetups = await meetupsResponse.json();

let numOfMeetups = 0,
    numOfSpeakers = 0,
    numOfContributors = 0;

if (!!speakers) numOfSpeakers = speakers?.length || 0;

if (!!contributors) numOfContributors = contributors?.length || 0;

if (!!meetups) {
  for (const meetupYear in meetups) numOfMeetups += (meetups?.[meetupYear]?.length || 0);
}
---
<div class="max-w-6xl mx-auto pt-14 px-8 md:px-16">
  <BaseHeading class="text-center">Our Numbers So Far</BaseHeading>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="h-full  flex justify-between items-center flex-col gap-4 p-6 prose dark:prose-invert">
      <p class="font-bold text-8xl mb-0 accent stat-num" data-final-num={numOfSpeakers}>0</p>
      <p class="text-2xl mt-0">Speakers</p>
    </div>
    <div class="h-full flex justify-between items-center flex-col gap-4 p-6 prose dark:prose-invert">
      <p class="font-bold text-8xl mb-0 accent stat-num" data-final-num={numOfMeetups}>0</p>
      <p class="text-2xl mt-0">Meetups</p>
    </div>
    <div class="h-full flex justify-between items-center flex-col gap-4 p-6 prose dark:prose-invert">
      <p class="font-bold text-8xl mb-0 accent stat-num" data-final-num={numOfContributors}>0</p>
      <p class="text-2xl mt-0">Contributors</p>
    </div>
  </div>
</div>

<style>
  .accent {
    background: linear-gradient(
      135deg,
      hsl(13, 100%, 52%) 10%,
      hsl(230, 100%, 70%) 50%,
      hsl(13, 100%, 52%) 80%,
      hsl(53, 100%, 69%) 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: gradient-animation 12s ease infinite;
  }
</style>
